<div class="flex flex-col px-14 bg-white max-md:px-5">
  <div
    class="flex gap-5 justify-between items-start w-full max-md:flex-wrap max-md:max-w-full"
  >
    <div
      class="flex gap-3.5 items-center text-3xl font-bold text-black whitespace-nowrap max-md:flex-wrap"
    >
      <div class="self-stretch my-auto">Mens</div>
      <div class="flex-auto self-stretch my-auto">Women</div>
      <div class="flex-auto self-stretch my-auto">Watches</div>
      <div class="flex-auto self-end mt-11 max-md:mt-10">Assecories</div>
      <div
        class="shrink-0 self-stretch max-w-full bg-zinc-300 h-[85px] w-[280px]"
      ></div>
    </div>
    <div class="flex gap-4 items-start mt-3.5">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/ba4bd27e7a1b50f730405684369dcffc577678a771d755bebafbb93ab88cd571?"
        class="shrink-0 max-w-full aspect-[1.39] w-[100px]"
      />
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/8dbce2c5062ca04e323069a752634e3b79def7d312d6ae264a81843ce395620c?"
        class="shrink-0 mt-1.5 max-w-full aspect-[1.41] w-[101px]"
      />
    </div>
  </div>
  <div class="max-w-full w-[888px]">
    <div class="flex gap-5 max-md:flex-col max-md:gap-0">
      <div class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full">
        <div
          class="flex flex-col grow mt-64 text-6xl font-bold tracking-tighter text-center text-black max-md:mt-10 max-md:text-4xl"
        >
          <div
            class="self-center border border-black border-solid max-md:text-4xl"
          >
            Timeless Elegance
          </div>
          <div class="mt-10 text-4xl font-semibold tracking-tighter">
            Outfits that blend classic beauty with modern design elements.
          </div>
          <div
            class="justify-center items-center px-16 py-5 mt-8 ml-5 max-w-full text-white whitespace-nowrap bg-black w-[344px] max-md:px-5 max-md:ml-2.5 max-md:text-4xl"
          >
            Shop
          </div>
        </div>
      </div>
      <div class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/10dde5b16d8a42051063ebee6c42e408bbae4cb8d340b53b974eeac57dc575e9?"
          class="w-full aspect-[0.81] max-md:max-w-full"
        />
      </div>
    </div>
  </div>
  <div class="mt-16 max-md:mt-10 max-md:max-w-full">
    <div class="flex gap-5 max-md:flex-col max-md:gap-0">
      <div class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full">
        <div
          class="flex flex-col grow pt-20 pb-9 w-full text-center text-white bg-black max-md:mt-5 max-md:max-w-full"
        >
          <div
            class="mt-2 text-6xl font-bold max-md:max-w-full max-md:text-4xl"
          >
            Women
          </div>
          <div
            class="flex gap-5 self-start px-px mt-96 text-5xl font-medium max-md:mt-10 max-md:text-4xl"
          >
            <div class="flex-auto my-auto max-md:text-4xl">shop now</div>
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/3396726c7ceae43e695f4f0184628269ed7d50acaa63e3a198a78b1af4a146bc?"
              class="shrink-0 aspect-[0.79] w-[59px]"
            />
          </div>
        </div>
      </div>
      <div class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
        <div
          class="flex flex-col grow pt-20 pb-9 w-full text-center text-white bg-black max-md:mt-4 max-md:max-w-full"
        >
          <div
            class="mt-3 text-6xl font-bold max-md:max-w-full max-md:text-4xl"
          >
            Men
          </div>
          <div
            class="flex gap-5 self-start mt-96 text-5xl font-medium max-md:mt-10 max-md:text-4xl"
          >
            <div class="flex-auto my-auto max-md:text-4xl">shop now</div>
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/3396726c7ceae43e695f4f0184628269ed7d50acaa63e3a198a78b1af4a146bc?"
              class="shrink-0 aspect-[0.79] w-[59px]"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="self-start mt-5 ml-2.5 text-4xl font-bold text-center text-black leading-[57.6px] tracking-[2.4px]"
  >
    Featured Product
    <span class="tracking-[2.4px]">s</span>
  </div>
  <div class="self-start mt-16 ml-4 max-md:mt-10 max-md:max-w-full">
    <div class="flex gap-5 max-md:flex-col max-md:gap-0">
      <div class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full">
        <div
          class="flex flex-col grow text-4xl font-medium text-black max-md:mt-5 max-md:max-w-full"
        >
          <div
            class="shrink-0 bg-neutral-500 bg-opacity-70 h-[280px] max-md:max-w-full"
          ></div>
          <div class="mt-5 max-md:max-w-full">Product Name</div>
        </div>
      </div>
      <div class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
        <div
          class="flex flex-col grow text-4xl font-medium text-black max-md:mt-5 max-md:max-w-full"
        >
          <div
            class="shrink-0 bg-neutral-500 bg-opacity-70 h-[280px] max-md:max-w-full"
          ></div>
          <div class="mt-5 max-md:max-w-full">Product Name</div>
        </div>
      </div>
      <div class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
        <div
          class="flex flex-col grow text-4xl font-medium text-black max-md:mt-5 max-md:max-w-full"
        >
          <div
            class="shrink-0 bg-neutral-500 bg-opacity-70 h-[280px] max-md:max-w-full"
          ></div>
          <div class="mt-5 max-md:max-w-full">Product Name</div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex gap-5 self-center mt-9 w-full text-black max-w-[1140px] max-md:flex-wrap max-md:max-w-full"
  >
    <div class="flex flex-col flex-1">
      <div class="text-3xl">$80 USD</div>
      <div class="mt-8 text-4xl">Product score</div>
    </div>
    <div class="flex flex-col flex-1">
      <div class="text-3xl">$80 USD</div>
      <div class="mt-8 text-4xl">Product score</div>
    </div>
    <div class="flex flex-col flex-1">
      <div class="text-3xl">$80 USD</div>
      <div class="mt-8 text-4xl">Product score</div>
    </div>
  </div>
  <div
    class="flex flex-col justify-center items-start mt-20 bg-neutral-500 max-md:pr-5 max-md:mt-10 max-md:max-w-full"
  >
    <div class="shrink-0 bg-black h-[15px] w-[86px]"></div>
  </div>
  <div
    class="self-start mt-16 ml-3.5 text-4xl font-bold text-center text-black leading-[57.6px] max-md:mt-10 max-md:ml-2.5"
  >
    Top Sellers
  </div>
  <div class="self-start mt-12 ml-4 max-md:mt-10 max-md:max-w-full">
    <div class="flex gap-5 max-md:flex-col max-md:gap-0">
      <div class="flex flex-col w-[33%] max-md:ml-0 max-md:w-full">
        <div
          class="flex flex-col grow text-4xl font-medium text-black max-md:mt-5 max-md:max-w-full"
        >
          <div
            class="shrink-0 bg-neutral-500 bg-opacity-70 h-[280px] max-md:max-w-full"
          ></div>
          <div class="mt-5 max-md:max-w-full">Product Name</div>
        </div>
      </div>
      <div class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
        <div
          class="flex flex-col grow text-4xl font-medium text-black max-md:mt-5 max-md:max-w-full"
        >
          <div
            class="shrink-0 bg-neutral-500 bg-opacity-70 h-[280px] max-md:max-w-full"
          ></div>
          <div class="mt-5 max-md:max-w-full">Product Name</div>
        </div>
      </div>
      <div class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
        <div
          class="flex flex-col grow text-4xl font-medium text-black max-md:mt-5 max-md:max-w-full"
        >
          <div
            class="shrink-0 bg-neutral-500 bg-opacity-70 h-[280px] max-md:max-w-full"
          ></div>
          <div class="mt-5 max-md:max-w-full">Product Name</div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex gap-5 self-center mt-9 w-full text-black max-w-[1140px] max-md:flex-wrap max-md:max-w-full"
  >
    <div class="flex flex-col flex-1">
      <div class="text-3xl">$80 USD</div>
      <div class="mt-8 text-4xl">Product score</div>
    </div>
    <div class="flex flex-col flex-1">
      <div class="text-3xl">$80 USD</div>
      <div class="mt-8 text-4xl">Product score</div>
    </div>
    <div class="flex flex-col flex-1">
      <div class="text-3xl">$80 USD</div>
      <div class="mt-8 text-4xl">Product score</div>
    </div>
  </div>
  <div
    class="flex flex-col justify-center items-start mt-20 bg-neutral-500 max-md:pr-5 max-md:mt-10 max-md:max-w-full"
  >
    <div class="shrink-0 bg-black h-[15px] w-[86px]"></div>
  </div>
  <div
    class="flex gap-5 justify-between items-start pt-20 pr-5 pb-12 pl-2.5 mt-7 text-white bg-black max-md:flex-wrap max-md:max-w-full"
  >
    <div class="flex flex-col self-end mt-6">
      <div class="text-2xl font-bold tracking-tighter">My account</div>
      <div class="mt-5 text-base font-medium">Sign up  Login  Orders</div>
    </div>
    <div class="flex flex-col mt-5">
      <div class="text-2xl font-bold tracking-tighter">Legal</div>
      <div class="mt-3.5 text-base font-medium">
        Terms of sale  Terms of use  Privacy Policy
      </div>
    </div>
    <div class="flex flex-col mt-5">
      <div class="text-2xl font-bold tracking-tighter">Help</div>
      <div class="mt-3.5 text-base font-medium">
        Shipping  Returns  Authenticity
      </div>
    </div>
    <div class="flex flex-col mt-5">
      <div class="text-2xl font-bold tracking-tighter">About</div>
      <div class="mt-5 text-base font-medium">Blog  Media  Events</div>
    </div>
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/0dd3addfc91444e3a85b46e6791058e9d62fb8950cb692c02c3bf40c92d4b28f?"
      class="self-end mt-24 aspect-[7.14] w-[433px] max-md:mt-10 max-md:max-w-full"
    />
  </div>
</div>
